{% extends 'base.html' %}

{% block content %}
<h1>Home</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id tincidunt dolor. 
    Vestibulum ullamcorper odio id justo feugiat, ut lacinia mi viverra. 
    Sed ac vulputate sem. Nulla facilisi. Vivamus fringilla varius magna, ac varius urna bibendum vel. 
    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; 
    Proin egestas aliquam mi, nec laoreet nunc scelerisque nec. Etiam quis luctus mi. Nulla facilisi. 
    Quisque rhoncus sapien id neque condimentum, id elementum neque bibendum. 
    Proin vestibulum ligula at dapibus. Vivamus in nunc at felis blandit aliquet. 
    Sed feugiat, nulla quis blandit tincidunt, ipsum libero interdum elit, a viverra purus tortor sit amet sapien. 
    Morbi non massa sed justo luctus dictum.</p>
{% endblock %}